.home_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.upper_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
}
.upper_content svg {
    width: 500px;
    height: 500px;

    transform: scale(2);
}

.upper_content_title {
    font-size: 4rem;
    font-weight: 500;
    color: #435245;
    text-align: center;

    font-family: 'Special Elite', cursive;

    text-transform: uppercase;
}

.upper_content_description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 2%;

    width: 30%;
}