.home_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    width: 100%;
    height: 100vh;
    /* background-image: url('../../Assets/mm_desktop05.jpeg'); */
    background-image: url('../../Assets/53407643_2082952711998079_6858641203492028416_n.jpeg');
    background-size: cover;
    background-position-y: 20%;
}

.upper_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
}
.upper_content svg {
    width: 500px;
    height: 500px;


    /* z-index: -1; */

    overflow: hidden;
}

.upper_content_title {
    font-size: 4rem;
    font-weight: 500;
    color: #435245;
    text-align: center;

    font-family: 'Special Elite', cursive;

    text-transform: uppercase;
}

.upper_content_description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 2%;

    width: 30%;
}